body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Tahoma;
	font-size: 16px;
	line-height: 20px;
}
.cf:after, cf:before {
	clear: both;
	content: " ";
	display: table;
}
.menu ul li.right {
	float: right;
	font-size: 30px;
	line-height: 20px;
}
.menu ul li.right a {
	padding: 10px 10px 13px 	{
	width: 600px;
	margin: 0 auto;
	padding: 20px 30px;
	background: #CCE3B7;
}
h1 {
	padding: 20px 0 0 0;
}
.menu a {
	display: block;
	padding: 10px;
	background: #95C98F;
	border-radius: 6px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	text-shadow: 1px 1px #4B8C44;
}
.menu a:hover {
	background: #5AA952;
}
.menu ul, .list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu ul li {
	padding: 0;
	margin: 0 6px 0 0;
	float: left;	
}
.list li {
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px dotted #999;
}
.list h2 {
	font-size: 22px;
	font-weight: bold;
	color: #000;
	width: 70%;
	float: left;
	margin: 0;
	padding: 0;
}
.list h2 a {
	color: #000;
	text-decoration: none;
}
.list h2 a:hover {
	color: #999;
}
.list .options {
	margin: 0;
	padding: 0;
	float: right;
}
.list .options a {
	font-size: 12px;
	color: #000;
	display: inline-block;
	text-decoration: none;
	margin: 0 4px 0 0;
}
.list .options a:hover {
	text-decoration: underline;
}
.list .done-yes {
	background: #3FB829;
}
form textarea {
	width: 100%;
	height: 60px;
	display: block;
	font-family: Tahoma;
	font-size: 12px;
}
form button {
	display: block;
	margin: 20px auto;
	padding: 6px 8px;
	width: 100px;
}